:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;
  background-color: black; 

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  background: linear-gradient(to bottom, rgba(116, 6, 6, 0.773) 0%, rgb(116, 6, 6, 0.73) 5%,  black 100%);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.products-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.card {
  width: 220px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 12px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  color: white;
}

.card-img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  border-radius: 8px;
}

.detalles-container {
  width: 100%;
  max-width: 1200px;
  margin: 20px auto;
  padding: 20px;
  background-color: white;
  border: 5px solid black;
  background: #f0f0f0;
  box-sizing: border-box;
}

.detalles-header {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  padding: 10px 0;
  margin-bottom: 20px;
}

.detalles-content {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-bottom: 20px;
}

.detalles-img {
  width: 200px;
  height: auto;
  border-radius: 15px;
}

.detalles-info {
  flex: 1;
}

.detalles-nombre {
  font-family: cursive;
  font-weight: bold;
  font-size: 1.8em;
  text-transform: uppercase;
}

.detalles-descripcion {
  font-size: 1.1em;
  color: #333;
}

.volver-btn {
  display: block;
  margin: 0 auto;
  padding: 10px 30px;
  background-color: #444c5c;
  color: white;
  border: none;
  font-size: 1.2em;
  border-radius: 8px;
  cursor: pointer;
}

.volver-btn:hover {
  background-color: #2f3542;
}

@font-face {
      font-family: 'TítuloPrincipal';
      src: url('fonts/DangerZoneWarning.ttf') format('truetype');
    }

    h1 {
      font-family: 'TítuloPrincipal';
    }

@font-face {
      font-family: 'TítuloSecundario';
      src: url('fonts/AristonComic.ttf') format('truetype');
    }

    h2 {
      font-family: 'TítuloSecundario';
      font-size: 40px;
    }